.button {
    font-size: 14px;
    height: 32px;
    min-width: 109px;
    text-align: center;
    background: #3D485F;
    border-radius: 16px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-family: Inter;
}
.button:hover{
    opacity: 0.8;
}