

.upload-dropzone{
    width: 553px;
    height: 177px;
    background-color:   #F2F5F8;
    border-radius: 8px;
    font-family: Inter;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #677489;
    position: relative;
}

.upload-message{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
}

 .upload-message > span{
     font-weight:  500;
     color: #495567;
     line-height: 25px;

}
.upload-message > span > svg{
 margin-right:  12px;
}

 .upload-message > p {
  margin: 0;
  line-height: 25px;
}
.file-input{ 
  display: none;
}

.cropping-container {
  flex: 1;
  margin: 0 100px 0 32px;
}
.cropping-label {
  font-size: 16px;
}
.image-container{
  width: 114px;
  height: 114px;
  margin: 32px 0 32px 32px;
  overflow: hidden;
  display: flex;
  justify-content:center;
  align-items:center;
  border-radius: 57px;
}
.image-viewer {
  background: white;
  object-fit: contain;
}
.button-container {
  display: flex;
  justify-content:flex-end;
}
.error-image {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px;

  background: #C3CBD5;
}
.error-container {
  display: flex;
  flex-direction: column;
}
.error-message {
  color: #C64D32;
  font-size: 16px;
  line-height: 29px;
}
.try-again {
  color: #3D485F;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  line-height: 29px;
}
.reset-button{
  position: absolute;
  top: 35.75px;
  right: 25.75px
}