

.upload-dropzone{
    width: 553px;
    height: 177px;
    background-color:   #F2F5F8;
    border-radius: 8px;
    font-family: Inter;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #677489;

}

.upload-message{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
}

 .upload-message > span{
     font-weight:  500;
     color: #495567;
     line-height: 25px;

}
.upload-message > span > svg{
 margin-right:  12px;
}

 .upload-message > p {
  margin: 0;
  line-height: 25px;
}
.file-input{ 
  display: none;
}

.cropping-container {
  flex: 1;
  margin-right: 100px;
}
.cropping-label {
  font-size: 16px;
}
.image-container{
  width: 114px;
  height: 114px;
  margin: 32px;
  overflow: hidden;
  display: flex;
  justify-content:center;
  align-items:center;
  border-radius: 57px;
}
.image-viewer {
  /* width: 114px;
  height: auto; */
  background: white;
  object-fit: contain;

}