.slider-container{
    --bar-background:#B9D1FF;
    --bar-progress: #3F80FF;
    width: 100%;
    display: flex;
    padding: 6px 0;
    cursor: pointer;
}

.slider-rail {
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color:var(--bar-background);
}
.slider-track {
    background-color: var(--bar-progress);
    height:2px;
    display: flex;
    justify-content: flex-end;
}
.slider-thumb {
    width:12px;
    min-width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-top: -5px;
    margin-right: -6px;
    background-color: var(--bar-progress);

}